<?xml version="1.0" encoding="UTF-8" ?>
<phpunit colors="true"
         verbose="true"
         bootstrap="./fuel/vendor/autoload.php">
    <php>
        <server name="FUEL_ENV" value="test"/>
    </php>
    <testsuites>
        <testsuite name="App">
            <directory>fuel/app/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
