/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

h1 {
	font-size: 1.5rem;
	line-height: 1;
	width: 250px;
}

.navbar {
	align-items: flex-start;
}

.navbar-brand {
	font-size: 1.5rem;
}

#navbarCollapse {
	flex-wrap: wrap;
}

#nav-admin {
	order: 10;
	width: 100%;
}
@media screen and (min-width: 768px) {
	#nav-admin {
		margin-left: -250px;
	}
}

#search {
	width: 150px;
}
@media screen and (min-width: 880px) {
	#search {
		width: auto;
	}
}
@media screen and (max-width: 767px) {
	#search {
		width: auto;
	}
	#search .input-group {
		width: 100%;
	}
}

.main-container {
	/* Margin top by header height */
	margin-top: 58px;
}
@media screen and (min-width: 768px) {
	.with-admin .main-container {
		/* Margin top by header height */
		margin-top: 96px;
	}
}

.grid-container {
	-webkit-column-count: 3;
	-webkit-column-gap: 15px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 15px;
	-moz-column-fill: balance !important;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}
@media screen and (max-width: 767px) {
	.grid-container {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}
@media screen and (max-width: 544px) {
	.grid-container {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}
.grid {
	display: inline-block;
	-webkit-break-inside: avoid;
	-moz-break-inside: avoid;
	break-inside: avoid;
	margin-bottom: 2rem;
}
/* Google Chorome BugFix */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	.grid {
		display: block !important;
	}
}

.container {
	padding-bottom: 1rem;
}
.breadcrumb {
	margin-bottom: 0;
}
.no-breadcrumb {
	padding-top: 1rem;
}

.unfinished {
	color: #ba0000;
}

.toplevel-list {
	margin: 1rem auto;
}
.toplevel-list ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
}
.toplevel-list li {
	margin: 0.5rem 0;
	text-align: center;
}

.count {
	margin-bottom: 0.2rem;
}
.divisions {
	margin-bottom: 2rem;
}

.source {
	font-size: 85%;
}
.source_preformat {
	display: none;
}

textarea[name=source] {
	height: 8rem;
}

.government_code {
	font-size: 60%;
}
.government_code:before {
	content: "[";
}
.government_code:after {
	content: "]";
}

.table .handle,
.table .checkbox-wrapper {
	vertical-align: middle;
}
.checkbox-wrapper input {
	width: 20px;
	height: 20px;
}
.table tbody {
	border-bottom: 1px solid #dee2e6;
}
.table-borderless tbody {
	border-bottom: none;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

time {
	color: #007bff;
}
.comment {
	font-size: 75%;
}

.list-nav .active,
.timeline-nav .active {
	font-weight: bold;
}
.timeline {
	position: relative;
	height: 100%;
}
.timeline:before {
}
.timeline h3 {
	font-size: 1.2rem;
}
.timeline > .add {
	padding-left: 60px;
	font-size: 20px;
	color: #999999;
}
.timeline > article {
	margin: 0 0 0 20px;
	padding: 0 20px;
	border-left: solid 2px #d4d9df;
}
.timeline > article.birth {
	border-left: none;
}
.timeline > article section:before {
	content: " ";
	background: white;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #22c0e8;
	left: -31px;
	width: 20px;
	height: 20px;
	z-index: 400;
}
.timeline > article.birth section:before {
	border: 3px solid #00ff00;
}
.timeline > article.live section:before {
	border: 3px solid #00ff00;
}
.timeline > article.death section:before {
	border: 3px solid #ff0000;
}
.timeline > article ul {
	margin: 0;
	padding: 0 0 1rem 0.5rem;
}

.timeline .map {
	display: none;
	height: 300px;
}
.timeline .map .loading {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.timeline .map .loading img {
	width: 24px;
	height: 24px;
}
/* map svg */
.timeline .map path {
	stroke: #ff0000;
	stroke-width: 3px;
	stroke-opacity: 0.8;
}

.navbar {
	background-color: #e9ecef;
}
.breadcrumb {
	background-color: #f8f9fa;
}
.no-breadcrumb {
	padding-top: 1rem;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

#change-event-sortable .handle i {
	cursor: pointer;
}
